@mixin cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Historique {
  width: 100%;
  height: auto;
  min-height: 200%;
  z-index: 1;
  background-color: #eeede0;

  .One_Project_In_Home {
    min-height: 48em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 15vw 10vw;

    .image_container {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      transition-duration: 0.4s;
      border-radius: 0.5em;
      // background-color: rgba(0, 0, 0, 0.3);

      &:hover {
        background-size: 105%;
      }
    }

    .info_container {
      width: 100%;
      height: 100%;
      grid-column: 1 / 1;
      grid-row: 1 / 1;
      @include cent();
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 40% 60%;

      .title {
        margin: auto;
        @include cent();
        justify-content: flex-start;
        align-items: flex-end;
        width: 80%;
        height: 70%;
        font-family: "Lora", serif;
        font-size: 3em;
        font-weight: 900;
        text-decoration: none;
      }

      .description {
        margin: auto;
        margin-top: 4em;
        width: 80%;
        @include cent();
        justify-content: flex-start;
        align-items: flex-start;
        font-family: "Lora", serif;
        font-size: 1em;
        font-weight: 700;
        flex-wrap: wrap;
        color: #767676;

        .the_link {
          margin-top: 1em;
          font-size: 0.71em;
          text-decoration: none;
          padding: 0.3em;
          border-radius: 0.2em;
          color: var(--colorX);

          &:hover {
            transform: scale(1.1);
          }

          ion-icon {
            bottom: -0.2em;
          }
        }

        .the_link:nth-child(2) {
          margin-right: 2em;
        }

        .bar {
          height: 0.15em;
          width: 8em;
          position: absolute;
          top: -1em;
          left: 0%;
        }
      }
    }
  }
  .right {
    grid-template-columns: 30em repeat(2, 1fr);
    grid-template-rows: 1fr;

    .image_container {
      grid-column: 2 / 4;
      grid-row: 1 / 1;
    }

    .info_container {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
    }
  }

  .left {
    grid-template-columns: repeat(2, 1fr) 30em;
    grid-template-rows: 1fr;

    .image_container {
      grid-column: 1 / 3;
      grid-row: 1 / 1;
    }

    .info_container {
      grid-column: 3 / 3;
      grid-row: 1 / 1;
    }
  }
}

//!########################################

@media all and (max-width: 1000px) {
  #Historique {
  }
}
